<div class='inner w1200'>
  <h3><%= @artist.name %></h3>
  <div class='columns'>
    <p><%= @artist.bio %></p>
  </div>
  <footer class='artist-footer'>
    <%= link_with_target_text @artist.link %>
  </footer>
</div>
