body {
  font-family: 'Lato', sans-serif;
  height: 100%;
  color: #2a2b2c;
}

a {
  color: #2a2b2c;
  text-transform: uppercase;
  text-decoration: underline;
}

p {
	margin-bottom: 1em;
}

.unstyled {
  list-style: none;
  padding: 0;
}
