.callouts {
  padding: 20px 0;
  font-size: 0;

  &.two {
    a{
      width: 49%;
      margin-right: 2%;
    }
  }

  &.three {
    a{
      width: 32%;
      margin-right: 2%;
    }
  }

  a {
    width: 100%;
    position: relative;
    font-size: 16px;
    @include inline-block;

    &:last-child {
      margin-right: 0;
    }
  }

  .overlay {
    position: absolute;
    top:0;
    bottom: 0;
    width: 100%;
  }
}



@media screen and (min-width: 700px) {
  .co-left {
    float: left;
    position: relative;
  }

  .co-right {
    float: right;
    position: relative;
  }

  .co-top {
    position: absolute;
    top: 0;
    width: 100%;
  }

  .co-bottom {
    position: absolute;
    bottom: 0; 
    width: 100%;
  }
}

.co {
  position: relative;
  margin-bottom: 20px;

  @media screen and (min-width: 700px) {
    margin-bottom: 0;
  }

  .padding {
    padding: 15px 10px;
  }

}
