.artist-panel {
  background: #E9E8F4;
  color: #2a2b2c;
  line-height: 1.6em;
  position: relative;
  

  .inner {
    padding: 20px 60px 80px;
    font-size: 19px;
  }

  .columns {
		@media screen and (min-width: 700px){
			@include columns(2);
		}
  }

  .artist-footer{
    text-align: center;
    padding: 20px 0 0;
  }
}

.artist-details {
  @include inline-block();
  vertical-align: middle;
}

.artist-info {
	height: 75px;
  overflow: hidden;
  padding: 10px 20px;
	margin-bottom: 10px;

  &.expanded {
    height: auto;
  }

  .circular {
    @include inline-block;
		vertical-align: middle;
    width: 75px;
    height: 75px;
		margin-right: 10px;
  }

  h3 {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    line-height: 20px;
  }

  span {
    @include inline-block();
    text-transform: uppercase;
    font-size: 12px;
    line-height:12px;
    font-style: italic;

    a {
      font-weight: bold;
    }
  }
}

.artist-expanded {
  padding: 10px 0;
}
