.artist {
  overflow: hidden;
  margin-bottom: 100px;
  position: relative;
  z-index: 1;

  .padding {
    padding-right: 315px;  
  }

  .bio-inner {
    border-left: 1px solid #eadd9b;
    padding-left: 10px;
    line-height: 1.8em;
    min-height: 300px;
  }

  .artist-footer {
    text-align: center;
    font-style: italic;
  }

  h1 {
    margin-bottom: 20px;
    font-weight: 900;
  }

  .artist-photo {
    float:left;
    width: 300px;
  }

  .artist-bio{
    margin-left: 350px;
  }
}
