.artist-panel {
  background: white;
  color: #2a2b2c;
  line-height: 1.6em;

  .inner {
    padding: 20px 20px 40px;
    font-size: 19px;
    opacity: 0;
    @include transition(opacity 500ms ease);
  }

  h3 {
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    margin-bottom: 20px;
    @include transform(translateY(10px));
  }

  h3,.columns, .artist-footer {
    @include transition(transform 400ms ease-out);
  }

  .circular {
    @include inline-block;
    position:absolute;
    float: left;
    left: 50%;
    top: -38px;
    margin-left: -37.5px;
    width: 75px;
    height: 75px;
  }

  .close {
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
    font-size: 20px;
    padding: 0 5px;
    z-index: 4;
    @include inline-block();
  }

  .columns {
    @include columns(2);
    @include transform(translateY(20px));
  }

  footer.artist-footer{
    text-align: center;
    padding: 20px 0 0;
    @include transform(translateY(40px));
  }

  &.active {
    .inner {
      opacity: 1;
    }

    h3,
    .columns,
    .artist-footer {
      @include transform(translateY(0));
    }
  }
}


