#site-header {
  background: rgba(255,255,255,0);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  @include transition(background 300ms ease);

  .inner {
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .navigation {
    float: right;
  }

  a {
    color: rgba(0,0,0,.3);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 300;
    padding: 35px 10px;
    @include transition(color 300ms ease);
  }

  &:hover {
    background: rgba(255,255,255,1);

    a {
      color: rgba(0,0,0,1);
    }
  }
}


#site-logo {
  float: left;

  a {
    font-size: 24px;
    background: rgba(255,255,255,.6);
    padding: 30px;
    @include inline-block();
  }
}

