#introduction {
  padding: 40px 20px;
  position: relative;
  z-index: 1;
  background: white;
  text-align: center;

  @media screen and (min-width:700px) {
    padding: 80px 20px;
  }
  
  header {
    margin-bottom: 60px;
  }
}

.inline-logo {
  @include inline-block();
  max-width: 140px;

  img {
    max-width: 100%;
  }
}

