#introduction {
  position: relative;
  z-index: 1;
  background: white;
  text-align: center;

  .callouts {
    .overlay {
      font-family: 'Playfair Display', serif;
    }

    a {
      color: black;  
      font-size: 30px;
    }
  }

}

.inline-logo {
  @include inline-block;
  max-width: 250px;

  img {
    max-width: 100%;
  }
}

.callouts {
  .work {
    .overlay {
      background: rgba(243, 240, 223, .8);

      &:hover {
        background: rgba(255,255,255,0);
      }
    }
  }

  .about {
    .overlay {
      background: rgba(248, 232, 232, .8);

      &:hover {
        background: rgba(255,255,255,0);
      }
    }
  }

  img {
    width: 100%;
  }

  .overlay {
    @include transition(background 300ms ease);
  }
}

