.sticky-wrapper {
  position: fixed;
  width: 100%;
  left:0;
  right:0;
}

.sticky-inner {
  padding: 0 20px;
  position: relative;
}

.sticky-nav {
  border: 3px solid #e8edea;
  width: 175px;
  float: right;

  .sticky-header {
    padding: 5px;
    background: #e8edea;
    text-transform: uppercase;
    font-style: italic;
    text-align: center;
    font-size: 20px;
  }

  .sticky-body {
    padding: 5px;
    
    li {
      margin-bottom: 5px;
      border-bottom: 2px solid #000;
      line-height: 1.3em;
    }
  }
}
