.work-item {
  margin-top: 50px;

  .lazy-image {
    width: 100%;

    img {
      width: 100%;
    }
  }
}

.work-title {
  margin-top: 10px;
  border-top: 6px solid #C5B96D;
  font-size: 25px;
  line-height: 1.4em;
}
