.work-item {
  .padding {
    margin-bottom: -96px;
  }
}

.work-image {
	@include box-sizing(border-box);
	padding: 48px 0 122px;
	overflow: hidden;
}

.work-title {
  padding: 0 60px;
	position: relative;
	font-size: 30px;
	top: -60px;
}  

