<section id='samplings' class='fullscreen'>
  <ul>
  <% @homepage.slides.each do |slide| %>
    <li data-color='<%= slide.color %>'>
      <%= image_tag slide.photo.url %>
    </li>
  <% end %>
  </ul>
  <div class='table-wrapper'>
    <div class='table-cell'>
      <h2 id='issue-label'>issue one</h2>
    </div>
  </div>
</section>

<div class='fullscreen' id='spacer'></div>

<section id='introduction' class='min-height'>
  <div class='table-wrapper'>
    <div class='table-cell'>
      <header class='w800 large-blurb playfair' >
        <p>hum journal publishes and archives the work of visual artists and writers in boston. </p>
      </header>

      <div id='callout-wrapper' class='w1200'>
        <div class='co co-left co-light'>
          <div class='padding'>
            <div class='table-wrapper'>
              <div class='table-cell'>
                <a class='inline-logo'>
                  <%= image_tag 'hum_logo.png' %>
                </a>
                <h2 class='playfair'>See issue one</h2>
                <p class='blurb'>explore the work of over 25 of Boston's most talented visual artists and writers</p>
                <a href='/works'><i class="fa fa-long-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class='co co-top co-right co-light'>
          <div class='co-background'></div>
          <div class='table-wrapper'>
            <div class='table-cell'>
              <div class='padding'>
                <h2 class='playfair'>dialogue</h2>
                <p class='blurb'>Enter the weird world of hum artist Simon Hanes in the month’s dialogue.</p>
                <a href='/dialogue'><i class="fa fa-long-arrow-right"></i></a>
              </div>
            </div>
           </div>
        </div>

        <div class='co co-bottom co-right co-dark'>
          <div class='table-wrapper'>
            <div class='table-cell'>
              <div class='padding'>
                <h2 class='playfair'>about hum</h2>
                <p class='blurb'>Hear the story behind hum journal and how to submit your work for issue two.</p>
                <a href='/about'><i class="fa fa-long-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
