<header id='site-header' >
  <div id='header'>
    <div class='inner w1100'>
      <div class='padding'>
        <h1 id='site-logo' class='logo'><a href='/'>hum</a></h1>
        <nav class='navigation'>
          <ul>
            <li><a href='/issues/1'>Issue 1</a></li>
            <li><a href=''>Dialogue</a></li>
            <li><a href='/about'>About</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
